@tailwind base;
@tailwind components;
@tailwind utilities;

.animated_node {
  animation: pinchNode 0.2s ease-out;

  /* Animation name, duration, easing function, and fill mode */
}
@keyframes pinchNode {
  0% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1);
  }
}
.animated_modal {
  animation: pinchModal 0.2s ease-out;

  /* Animation name, duration, easing function, and fill mode */
}
@keyframes pinchModal {
  0% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
